@model List<testmongo.Models.CartItem>

<div class="shopping_cart">
    <div class="cart">
        <a href="/gio-hang" title="Xem giỏ hàng" rel="nofollow">
            <strong class="opencart"> </strong>
            <span class="cart_title">Giỏ hàng</span>
            <span class="no_product">@Model.Count sp </span>
</a>
    </div>
</div>
