@model List<testmongo.Models.Menu>

<div class="account_desc">
    @{
        var session = (UserLogin)Session[testmongo.Areas.Common.CommonConstants.USER_SESSION];
    }

    @if (session == null)
    {
    }
    else
    {
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
            }

            <p style="width: 150px;">Xin chào:@session.UserName</p>
            @Html.ActionLink("Thoát", "Logout", "User")
        </ul>

    }

</div>
<div class="clear"></div>
